<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- mybatis 작동규칙 정의 -->
	<!-- 기본세팅 -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 별칭지정 -->
	<typeAliases>
		<typeAlias alias="boardVo" type="org.vo.BoardVo"/>
		<typeAlias alias="attachVo" type="org.vo.AttachVo"/>
	</typeAliases>
</configuration>