<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 스프링이 DB에 쿼리 요청 시 사용하는 메서드가 참조할 sql mapping 파일 정의 -->
<mapper namespace="boardMapper">
	<insert id="insert">
		insert into board(board_num, title, content, writer, password)
			values(board_seq.nextval, #{title}, #{content}, #{writer}, #{password})
	</insert>
	
	<select id="list" resultType="kr.co.vo.BoardVo">
		select board_num, title, writer, regDate, modDate from board
			order by board_num desc
	</select>
	
	<select id="read" parameterType="int" resultType="kr.co.vo.BoardVo">
		select board_num, title, content, writer, regDate, modDate
			from board where board_num = #{board_num}
	</select>
	
	<update id="update" parameterType="kr.co.vo.BoardVo">
		update board set title = #{title},
						content = #{content}
				where board_num = #{boardNum}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where board_num = #{boardNum}
	</delete>
</mapper>