<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 스프링이 DB에 쿼리 요청 시 사용하는 메서드가 참조할 sql mapping 파일 정의 -->
<mapper namespace="attachDao">
	<insert id="insert" parameterType="attachVo">
		insert into ATTACH(NUM, BNUM, FILENAME, SAVENAME, FILESIZE, REGDATE) 
		values (ATTACH_SEQ.nextval, 
		<if test="bNum==0">
			BOARD_SEQ.currval, 
		</if>
		<if test="bNum!=0">
			#{bNum}, 
		</if>
			#{fileName}, #{saveName}, #{fileSize}, #{regdate})
		<selectKey keyProperty="num" resultType="Integer">
			select NVL(max(NUM), 0) from ATTACH
		</selectKey>
	</insert>
	<select id="countFileList" resultType="hashMap">
		select BNUM, count(*) filecount from ATTACH group by BNUM
	</select>
	<select id="files" parameterType="Integer" resultType="hashMap">
		select NUM, BNUM, FILENAME, round(FILESIZE/1024,1) filesize from ATTACH where BNUM=#{bNum} order by NUM
	</select>
	<select id="downFile" parameterType="Integer" resultType="hashMap">
		select FILENAME, SAVENAME, REGDATE from ATTACH where NUM=#{num}
	</select>
	<delete id="delete" parameterType="hashMap">
		delete from ATTACH where ${type}=#{num}
	</delete>
</mapper>